*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metadata/
RemoteSystemsTempFiles/
WebSphere Application Server Liberty Profile 8554/
WebSphere Application Server Liberty Profile 8554 - CrossWorlds/
org.openntf.xworlds.webapp.j2eeenabler/bin/META-INF/MANIFEST.MF
org.openntf.xworlds.webapp.j2eeenabler/bin/META-INF/web-fragment.xml
org.openntf.xworlds.core/.settings/org.eclipse.ltk.core.refactoring.prefs
org.openntf.xworlds.oda/build-local.properties
samples/ConferenceApp/src/rebel.xml
**/.project
**/.classpath
**/.settings/
**/.factorypath
