<div class="row no-gutter">

<div class="col-sm-12">

	<div class="panel panel-default">

	<div class="panel-body">

		<div style="margin-bottom:15px">
			<a href="http://www-01.ibm.com/software/collaboration/events/connected/" target="_blank"><img class="img-responsive" src="images/connected.png" style="width:300px" /></a>
		</div>

		<p>Hi!</p>
		<p>This is the demo app for our session at <b><a href="http://www-01.ibm.com/software/collaboration/events/connected/" target="_blank">ConnectED 2015</a></b> in January in Orlando: <b>"The Future of Web Development - Write Once, Run Everywhere with AngularJS and Domino"</b>. It is build using AngularJS and uses an IBM Domino backend.</p>

		<p>In our session we're going to talk about building web apps using the AngularJS JavaScript framework, with data coming from a Domino backend using REST. We will show you how an app built like this can run in multiple runtimes, like Domino, Bluemix, Connections, Microsoft Sharepoint and MobileFirst Foundation (previously Worklight).</p>
		
		<p>If you haven't registered for ConnectED yet: 
		<a href="http://www-01.ibm.com/software/collaboration/events/connected/" target="_blank">register now</a> and we'll see you on Monday at 3:45 PM at the Swan - Toucan 1-2. It'll be worth it!
		</p>

		<div class="row" style="margin-top:15px">
			<div class="col-xs-6 text-center">
				<a href="http://xomino.com"  target="_blank">
					<img width="90" height="90" src="images/marky.jpg" alt="That's what Marky looks like" class="img-circle img-rounded" /><br />
					Mark Roden
				</a>
			</div>
			<div class="col-xs-6 text-center">
				<a href="http://linqed.eu" target="_blank">
					<img width="90" height="90" src="images/mark.jpg" alt="That's what Mark looks like" class="img-circle img-rounded" /><br />
					Mark Leusink
				</a>
			</div>
		</div>

		<div class="small well well-sm" style="margin-top:10px">

			<img src="images/beer.jpeg" class="img-rounded pull-right" width="80" style="margin-left:10px;" />

			<p>Here comes the fine print...</p>
			
			<p>
				We did our best. Worked our ass off. But take absolutely no liability for the accurateness of the data in this app. Or if the app will work at all. It probably will. We hope (if it doesn't: please <a ui-sref="feedback" title="Feedback">let us know</a>). If you want the ConnectED session data used by this app in a comfortable Notes database, check out the <a href="http://matnewman.com/webs/personal/matblog.nsf/dx/announcing-the-availability-of-the-totally-unofficial-totally-unsupported-ibm-connected-session-database" target="_blank">Totally Unofficial Totally Unsupported IBM ConnectED Session Database</a> by Mat Newman and others.
			</p>			
			<p>
				Oh, and if you want to know more about how this app was built: talk to us if you see us walking around. That's what a conference is all about (you seriously thought it was the sessions?). We are not scary and will talk for <i class="fa fa-beer"></i> beer <i class="fa fa-smile-o"></i>
			</p>
			<p>
				This source code of this app is publicly available on <a href="https://github.com/markleusink/BeyondSessionsApp" target="_blank"><i class="fa fa-github"></i>GitHub</a>.
		</div>

	</div>

	</div>

</div>

</div>