<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="WebSphere Application Server Liberty Profile with SPI" sequenceNumber="197">
<locations>
<location path="${was_liberty_root}/dev/api/spec" type="Directory"/>
<location path="${was_liberty_root}/dev/api/third-party" type="Directory"/>
<location path="${was_liberty_root}/dev/spi/spec" type="Directory"/>
<location path="${was_liberty_root}/dev/spi/ibm" type="Directory"/>
<location path="${was_liberty_root}/dev/spi/third-party" type="Directory"/>
<location path="${was_liberty_root}/usr/extension/lib" type="Directory"/>
<location path="${was_liberty_root}/dev/spi/spec" type="Directory"/>
<location path="${was_liberty_root}/dev/spi/ibm" type="Directory"/>
<location path="${was_liberty_root}/dev/spi/third-party" type="Directory"/>
<location path="${was_liberty_root}/dev/api/ibm" type="Directory"/>
</locations>
</target>
