<div class="row no-gutter">

	<div class="col-sm-12">

		<div class="panel panel-default">

			<div class="panel-heading" ng-class="getBackgroundClass(session.track)">
		  		<h4>{{session.title}}</h4>
				<div><small>{{::session.startTimeDesc}} - {{::session.endTimeDesc}} in {{::session.room}} | {{::session.sessionId}}</small></div>
			</div>

			<div class="panel-body">

				<div style="margin-bottom:10px">
					
					<button class="pull-right btn" ng-class="{'btn-default' : !session.isFavorite, 'btn-primary btn-flip' : session.isFavorite}" ng-click="toggleFavorite()">
						<i class="fa" ng-class="session.isFavorite ? 'fa-star' : 'fa-star-o'"></i>Favorite
					</button>

					<a class="btn btn-default" href="javascript:history.go(-1);"><i class="fa fa-angle-left"></i>Back</a>
				</div>

				<div>
					{{::session.description}}
				</div>

				<div style="margin:10px 0"><a ui-sref="sessionsByTrack({trackId: session.track})"><span class="label" ng-class="getBackgroundClass(session.track)">{{::session.track}}</span></a></div>

				<div style="margin: 10px 0; font-weight: bold;"><u>Speakers</u></div>

				<div class="row" ng-repeat="speaker in session.speakers">
			
					<div class="col-xs-12 col-sm-12">
						{{speaker}}
					</div>
			
				</div>

			</div>

		</div>

	</div>

</div>
